# =========================================================
# PYTHON CACHE FILES
# =========================================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================================
# JUPYTER NOTEBOOK CHECKPOINTS
# =========================================================
.ipynb_checkpoints/

# =========================================================
# ENVIRONMENT VARIABLES
# =========================================================
.env

# =========================================================
# VIRTUAL ENVIRONMENTS
# =========================================================
venv/
env/
rag_env/

# =========================================================
# VS CODE SETTINGS
# =========================================================
.vscode/

# =========================================================
# OPERATING SYSTEM FILES
# =========================================================
.DS_Store
Thumbs.db

# =========================================================
# VECTOR DATABASE
# =========================================================
data/vector_store/

# =========================================================
# LARGE DATA FILES
# =========================================================
data/pdfs_data/
data/docs_data/
data/text_data/
data/csv_data/
data/sheet_data/

# =========================================================
# LOG FILES
# =========================================================
*.log

# =========================================================
# STREAMLIT CACHE
# =========================================================
.streamlit/

# =========================================================
# PYTHON BUILD FILES
# =========================================================
build/
dist/
*.egg-info/

# =========================================================
# TEMP FILES
# =========================================================
temp/
tmp/